
.bezier-input{

    /* size of graph canvas and canvas control points */
    /* these properties are also read by the React component and used for drawing to the canvas */
    --bezier-control-size: 20px; 
    --bezier-canvas-width: 180px;
    --bezier-canvas-height: 150px;    
    
    --outer-padding: 10px; /*padding around the canvas controls; this is where the labels go*/

    --label-color: #444;
    --label-font-size: 13px;
    --bezier-background-color: #f4f4f4;


    /* color properties used by CubicBezierCanvas for drawing to canvas element*/
    --curve-fill: #4af;
    --curve-stroke: #fff;
    --control-fill: #06f;
    --control-hover-fill: #4af;
    --control-stroke: #fff;
    --control-handle-stroke: #444;
    --canvas-border: #888;
    --track-stroke: #aaa;
    --background-fill: #e1e1e1;


    box-sizing: border-box;
    display:flex;
    position:relative;

    width: fit-content;
    height: fit-content;

    padding: var(--outer-padding);
    padding-left: calc(var(--outer-padding) + var(--bezier-control-size));    

    background-color: var(--bezier-background-color);
    border: 1px solid #999;
    border-radius: calc(var(--outer-padding)/2);
    
}

.dark .bezier-input{
    --curve-fill: #08a;
    --curve-stroke: #fff;
    --control-fill: #f44;
    --control-hover-fill: #f77;
    --control-stroke: #fff;
    --control-handle-stroke: #444;
    --canvas-border: #444;
    --track-stroke: #aaa;
    
    --bezier-background-color: #444;
    --label-color: #ddd;
}

.bezier-input.purple{
    --curve-fill: #82f;
}

.bezier-canvas{
    display: flex;
    width: calc(var(--bezier-canvas-width));
    height: calc(var(--bezier-canvas-height));
    position: relative;
    box-sizing: border-box;

    /* background-color: #c8c8c8; */
    /* box-shadow: inset 0 0 4px #0004; */
}


[class *= bezier-label]{
    position: absolute;
    pointer-events: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;    

    color: var(--label-color);
    font-size: var(--label-font-size);
}

.bezier-label-top, .bezier-label-x{
    width: calc(100% - var(--bezier-control-size));
    height: calc(var(--outer-padding) + var(--bezier-control-size));
}

.bezier-label-top{
    left: var(--bezier-control-size);
    top: 0;
}

.bezier-label-x{
    left: var(--bezier-control-size);
    bottom: 0;    
}

.bezier-label-y{    
    left:0;
    top:0;

    height: calc(var(--outer-padding) + var(--bezier-control-size));
    width: calc(var(--bezier-canvas-height) + 2*var(--outer-padding));
    transform: translate(0,-100%) rotate(90deg);
    transform-origin: 0 100%;
}