
:root{  
  
  --canvas-size: 300px;

  --body-color: #666;
  --background-color: #fafafa; 
  --low-contrast-color: #f4f4f4;

  --primary-color: #f44;
  --primary-color-hover-enabled: #f88;
  --primary-color-hover: var(--primary-color);

  --neutral-color: #888;
  --neutral-color-hover-enabled: #aaa;
  --neutral-color-hover: var(--neutral-color);
  
  --highlight-color: #bd2;
  --highlight-color-hover-enabled: #cf4;
  --highlight-color-hover: var(--highlight-color);

  --panel-background-color: #8882;
  --panel-border-color: #8888;
  --panel-border-width: 1px;
  --panel-border-radius:8px;
  --panel-padding: 10px;

  --input-border-color: #aaa;

  --scrollbar-width: 0px;
}


.dark .App .bezier-input{
  --bezier-curve-stroke: #fff;
  --bezier-track-stroke: #aaa;    
  --bezier-background-fill: #888;  
}


.App .slider{
  --slider-progress-color: var(--primary-color);
  --slider-progress-color-hover: var(--primary-color-hover);
}
.dark .App .slider{
  --slider-track-color: #666;
  --slider-track-color-hover: #777;
  --slider-progress-color-hover:  #5f9faf
}

body .App .bezier-input{
  --bezier-curve-fill: var(--primary-color);
  --bezier-label-color: var(--body-color);
  --bezier-label-font-size: 16px;
  --bezier-background-color: var(--low-contrast-color);
  --bezier-control-handle-stroke: var(--low-contrast-color);
  --bezier-canvas-border: var(--low-contrast-color);
  --bezier-control-stroke: var(--low-contrast-color);
  --bezier-control-fill: var(--highlight-color);
  --bezier-control-hover-fill: var(--highlight-color-hover);
  --bezier-canvas-border: var(--input-border-color);
  --bezier-border: var(--panel-border-color);
  /* full component width = 2*padding - 3*control size */
}

body.dark, body.dark .App{
  --background-color: #222;  
  --body-color:#ddd;
  --primary-color: #4f8f9f;
  
  --primary-color-hover-enabled: #5f9faf;
  --low-contrast-color: #444;
  --highlight-color: #fa7;
  --highlight-color-hover-enabled: #fc9;
}


#app-root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* touchscreen behavior */
canvas{
  touch-action: pinch-zoom;
}
input{
  touch-action: none;
}

body{
  background-color: var(--background-color);    
}

*, *::before, *::after{
  font-family: 'basis33', 'Courier New', Courier, monospace;;
  font-weight: normal;
  color: var(--body-color);   
  box-sizing: border-box;
}


.App {  
  position: relative;
  margin: 20px;
  display: grid;
  grid-template-columns: auto var(--col-gap) var(--canvas-size) var(--col-gap) auto;
  font-size: 16px;
  user-select: none;
  max-width: min(1400px, 100vw);
}


/* TOOLTIP STUFF */

[data-tooltip]{
 --hover-time: 1s; 
 position: relative;
}

[data-tooltip]::after{
  /* default ; override for non-touch devices (see media query at bottom of stylesheet) */
  display: none;      

  visibility: hidden;
  white-space: pre-line;  
  width: max-content;
  max-width: 300px;
  text-align: left;
  position: absolute;  
  background-color: #cccd;
  backdrop-filter: blur(8px);
  border-radius: var(--panel-border-radius);
  color: #444;
  padding: 2em;
  line-height: 1.75em;
  content: attr(data-tooltip);    
  max-width: 300px;
  pointer-events: none;
  transition: visibility 0s;  
  z-index: 10000;
  font-size: 16px;
}

[data-tooltip]:hover::after{
  visibility: visible;  
  transition: visibility 0s var(--hover-time);
  box-shadow: 0 10px 4px -8px #0004;
}

[data-tooltip]:active::after{
  transition: visibility 0s;
  visibility: hidden;
}

.controls-right [data-tooltip]::after{
  right: 0;
}

.bezier-tooltip[data-tooltip]::after{
  top: 0;
  left: 100%;
}

.rgba-picker[data-tooltip]::after{
  top: calc(-1*var(--border-width));
  left: calc(100% + var(--border-width));  
}

.slider-input-wrapper[data-tooltip]::after{
  top: 100%;
  bottom: unset;
}

.checkbox [data-tooltip]::after, .radio [data-tooltip]::after{
  top:unset;
  left: unset;
  right: calc(100% + 1*(var(--shadow-width) + var(--border-width)));    
  bottom: calc(-1* var(--shadow-width) - var(--border-width));  
}

.app-button [data-tooltip]::after{  
  right: calc(-1 * var(--border-width));
  top: calc(100% + var(--border-width));
}

/* rework this stuff ; non-absolute positioning w/ negative margin? */

[class|="controls"][data-panel-tag]{
  padding-top: calc(var(--panel-padding)*3 + 1em);
  position: relative;
}

.controls-center[data-panel-tag]{
  padding-top: calc(var(--panel-padding)*2 + 1em);
}

[class|="controls"][data-panel-tag]::after{
  position: absolute;
  top:calc(-1 * var(--panel-border-width));
  left: calc(-1 * var(--panel-border-width));
  right:calc(-1 * var(--panel-border-width));
  margin: var(--panel-border-width);
  border-radius: var(--panel-border-radius) var(--panel-border-radius) 0 0;
  padding: var(--panel-padding);
  content: attr(data-panel-tag);
  background-color: var(--panel-background-color);
  border-bottom: 1px solid var(--panel-border-color);
}

.bezier-tooltip{
  width: fit-content;
  height: fit-content;
  align-self: center;
}



.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-header h1 {
  font-size: 36px;  
  font-family: 'extrude';
  box-shadow: inset 0 0 0 1px var(--background-color);
  padding: 1px;
}

.p5-container{
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 3;  
  width: fit-content;
  height: fit-content;

  align-items: center;
}

.p5-container canvas{
  border-radius: var(--panel-border-radius);
}

.p5-container #canvas-overlay{  
  position: absolute;

  width: var(--canvas-size);
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #0004;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 0 0 var(--panel-border-radius) var(--panel-border-radius);
  pointer-events: none;
}

#canvas-overlay *{
  color: #fff;
}

#particle-count-overlay{
  min-width: 12em;
}

#canvas-display-toggle{
  display: none;
}

.controls-left, .controls-right, .controls-center{  
  display: flex;  
  align-content: center;
  justify-content: space-between;
  border: var(--panel-border-width) solid var(--panel-border-color);
  border-radius: var(--panel-border-radius);
  padding: var(--panel-padding);
  background-color: var(--panel-background-color);  

  --control-spacing: 1em;
}

.controls-left{
  grid-column: 1;  
  grid-row: span 2;
  flex-direction: column;
}

.controls-right{
  grid-column: 5;
  grid-row: span 2;
  flex-direction: column;
}

.controls-center{
  grid-column: 3;  
  flex-direction: row;
  flex-wrap: wrap;  
  padding-left: calc(var(--panel-padding)/2);
  padding-right: calc(var(--panel-padding)/2);
}

[class|="controls"] > :nth-child(n+2):not(.radio+.radio-item):not(.labeled-slider+.labeled-slider){
  margin-top: var(--control-spacing);  
}

.controls-center > .rgba-picker{
  margin-top: var(--panel-padding);
  flex: 1;
  margin-left: calc(var(--panel-padding)/2);
  margin-right: calc(var(--panel-padding)/2);
}

.labeled-slider{
  display: grid;
  grid-template-columns: 75px auto 4em;
  
}

.labeled-slider .slider{
  max-width: 110px;
}
.slider-input-wrapper{
  display: flex;
  align-items: center;
}
.slider-value::before{
  content: ' ';
}

.slider-input-wrapper{
  width: fit-content;
  justify-self: center;
}

.labeled-slider+.labeled-slider{
  margin-top: 8px;
}

.rgba-picker{
  --rgb-value: #ffffff;
  --border-width: 1px;
  display: flex;
  flex-direction: column;
  border: var(--border-width) solid var(--panel-border-color);
  border-radius: 5px;
  padding: var(--panel-padding);
  background-color: var(--panel-background-color);  
}


.rgba-picker button{    
  max-height: var(--input-size);
  border-radius: 8px;
  border: none;
  border: 4px solid var(--input-border-color);
  position: relative;
  height: 32px;
}



.rgba-picker input[type="color"]{
  border-radius: 0;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  box-shadow: none;
}

.rgba-picker label{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  pointer-events: none;
}

.rgba-picker button, .rgba-picker input[type="range"]{
  flex-grow: 1;  
  margin: 0 0 0 auto;  
  max-width: var(--input-size);
  pointer-events: all;
}

.rgba-picker > *+*{
  margin-top: 8px;
}


div.buttons{
  grid-column: 5;
  grid-row: 1;

  display: grid;
  grid-template-columns: 50% 50%;        
  align-items: flex-start;
  align-items: center;
  justify-content: center;

  --grid-spacing: 8px;
}

div.buttons > :nth-child(2n + 1){
  margin-right: var(--grid-spacing);  
}

div.buttons > :nth-child(n + 3){
  margin-top: var(--grid-spacing);
}

.horizontal-gutter{
  grid-row: 2;
  grid-column: 1 / -1;
  height: var(--col-gap);
}

.file-input.pimage-input button{  background-image: url(../public/images/file-open-p-white.png);  }
.dark .file-input.pimage-input button{  background-image: url(../public/images/file-open-p-black.png);  }

.file-input.emap-input button{  background-image: url(../public/images/file-open-e-white.png);  }
.dark .file-input.emap-input button{  background-image: url(../public/images/file-open-e-black.png);  }

.dark .file-input button{ background-image: url(../public/images/file-open-black.png) }

.app-button{
  display: flex;
}

.app-button button{
  margin-right: 1em;
  pointer-events: all;

  --border-width: 8px;
  appearance: none; -webkit-appearance: none;  
  --button-color: var(--primary-color);
  background-color: var(--button-color);  
  background-repeat: no-repeat;
  background-size: contain;
  padding: 16px;
  border: var(--border-width) solid var(--button-color);  
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border-radius: 5px;    
}

.app-button label{ 
  pointer-events: none;
  display: flex;
  align-items: center;
}

.link-button button{  background-image: url(../public/images/link-white.png); }
.link-button.emap-link button { background-image: url(../public/images/link-e-white.png); }
.dark .link-button.emap-link button { background-image: url(../public/images/link-e-black.png); }



.link-button a  { 
  visibility: hidden; width: 0; height: 0; 
}
.file-input input[type="file"]{
  display: none;
}



.radio, .checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="checkbox"], input[type="radio"]{
  --checkbox-color: var(--neutral-color);  
  --checkbox-color-hover: var(--neutral-color-hover);
  --checkbox-color-checked: var(--highlight-color);
  --checkbox-color-checked-hover: var(--highlight-color-hover);
  --checkbox-shadow-color: var(--input-border-color);

  --border-width: 5px;
  --shadow-width: 4px;
  --border-radius: var(--border-width);

  --darker: #0003;

  appearance: none; -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: var(--checkbox-color);  
  border: var(--border-width) solid transparent;
  border-bottom-color: var(--darker);
  border-right-color: var(--darker);
  box-shadow: 0 0 0 var(--shadow-width) var(--checkbox-shadow-color);  
  margin: var(--shadow-width);
}

input[type="checkbox"]{
  border-radius: var(--border-radius);
}

.radio-item input{
  border-radius: 0;
}

:not(.radio-item)+.radio-item > input,
.radio-item:first-child > input{
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.radio-item:last-child input{
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

input[type="checkbox"]:checked, input[type="radio"]:checked{
  --checkbox-color: var(--checkbox-color-checked);
  --checkbox-color-hover: var(--checkbox-color-checked-hover);

  border-color: transparent;
  border-top-color: var(--darker);
  border-left-color: var(--darker);  
}




.radio-label::before, .checkbox-label::before {  
  content: ' - '; 
  color: var(--input-border-color);
}

.radio-item+.radio-item input[type="radio"]{
  margin-top: 0;
}

.radio-header{
  margin-bottom: 8px;
}



@font-face {
  font-family: 'basis33';
  src: url('./fonts/basis33/basis33-webfont.woff2') format('woff2'),
       url('./fonts/basis33/basis33-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'extrude';
  src: url('./fonts/extrude/extrude-webfont.woff2') format('woff2'),
       url('./fonts/extrude/extrude-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*put hover styles here*/
@media (hover: hover) and (pointer: fine)
{  

  .App, body.App .bezier-input{
    --primary-color-hover: var(--primary-color-hover-enabled);
    --neutral-color-hover: var(--neutral-color-hover-enabled);
    --highlight-color-hover: var(--highlight-color-hover-enabled);
  }

  .rgba-picker button:hover{
    border: 4px solid #bbb;
    box-shadow: inset 0 0 0 32px #fff4;
  }
  
  .app-button button:hover{
    --button-color: var(--primary-color-hover);
  }
  
  input:hover, button:hover, a:hover{
    cursor: pointer;
  }
  
  input[type="checkbox"]:hover, input[type="radio"]:hover{  
    --checkbox-color: var(--checkbox-color-hover) 
  }

}

@media (pointer: coarse){
  :root{
    --background-color: #ff0 !important;
  }
}

@media screen and (max-width: 799px) {  


  #canvas-display-toggle{
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--vertical-padding);
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  #canvas-display-toggle::after{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: var(--vertical-padding); 
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    content: 'show canvas';
    font-size: 16px;
    color: var(--low-contrast-color); 
  }

  #canvas-display-toggle:checked::after{
    content: 'hide canvas';
  }

  #canvas-display-toggle:not(:checked) ~ *{
    display: none;
  }

  body .App{
    grid-template-columns: var(--canvas-size);

    /* extra space so scrolling to top with floating canvas doesn't block content ; better way to do this? */
    margin-top: calc(var(--canvas-size) + 100px);        
  }

  .App .controls-center{
    flex-direction: column;
  }


  .App .p5-container{  

    --vertical-padding: 36px;
    --horizontal-padding: calc((100vw - var(--canvas-size))/2);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: var(--vertical-padding);
    margin: 0;
    z-index: 20000;
    background-color: var(--primary-color);        
    box-shadow: 0 4px 1px 0px #0004; 
  }

  .p5-container canvas{
    margin: var(--vertical-padding) 0; 
    margin-right: var(--scrollbar-width);
  }

  .p5-container #canvas-overlay{
    left: calc(var(--horizontal-padding) - var(--scrollbar-width)/2);
    bottom: var(--vertical-padding);
  }


  body .App div.buttons{
    grid-row: 2;
  }  

  .horizontal-gutter{
    display: none;
  }  

  .rgba-picker{
    --input-size: 120px;
  }


  body div.App > * {    
    width: 100%;
    grid-column: 1;
    grid-row: auto;
    justify-self: center;
    
  }

  body .App > *+*{
    margin-top: 1em;
  }

  /* bigger bezier controls for touch screen */
  body .App .bezier-input{
    --bezier-canvas-width: 200px;
    --bezier-canvas-height: 200px;
    --bezier-control-size: 25px;
  }

  /* bigger slider controls for touch screen */
  body .App .slider{
    --slider-thumb-width: 24px;
  }


}

@media screen and (min-width: 800px) and (max-width: 1149px){
  
  .rgba-picker{
    --input-size: 100px;
  }

  :root{
    --canvas-size: 400px;
    --col-gap: 20px;    
  }
  
}


@media screen and (min-width: 1150px) {
  :root{
    --canvas-size: 500px;
  }

  .App{
    --col-gap: 30px;
  }

  .rgba-picker{
    --input-size: 70px;
  }
}

@media screen and (min-width: 1280px) {
  :root{
    --canvas-size: 600px;
  }

  .App{
    --col-gap: 40px;
  }

  .rgba-picker{
    --input-size: 80px;
  }
}