:root{
  box-sizing: border-box;
  color: #f44;
  background-color: #fafafa;  
  /* background-color: #222; */
}



.App {  
  margin: 50px;
  display: grid;
  grid-template-columns: 250px auto 250px;
  font-size: 14px;

  user-select: none;
  
}

.App-header {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  font-size: 24px ;
  
}

.p5-container{
  position: relative;
  display: flex;
  margin: auto;
  grid-column: 2;
}

#canvas-display-area{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: #0004;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#particle-count-display{
  min-width: 12em;
}

[class|=controls]{
  display: flex;
  flex-direction: column;
}

:is(.controls-right, .controls-left) > :nth-child(n+2):not(.radio+.radio){
  margin-top: 2em;
}

.radio+.radio{
  margin-top: 0.25em;
}

.controls-left{
  grid-column: 1;  
  grid-row: span 2;
}

.controls-right{
  grid-column: 3;
}

.controls-center{
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slider{
  display: grid;
  grid-template-columns: 50px auto 50px;
  font-size: 12px;

  align-items: flex-start;
}

.slider-input{
  margin: 0 auto;
  max-width: 150px;
}

.radio, .checkbox{
  display: flex;
  flex-direction: row;
}

.rgba-picker{
  display: flex;
  flex-direction: column;
}

.rgba-picker > label{
  display: flex;
  flex-wrap: nowrap;
}

.rgb-input, .apha-input{
  flex-grow: 1;
}