@font-face {
  font-family: 'press_start_2p';
  src: url('./fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
       url('./fonts/pressstart2p-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root{
  box-sizing: border-box;
  --body-color: #666;
  --primary-color: #f44;
  /* --primary-color: #68f; */
  --background-color: #fafafa;  
  /* --background-color: #eee;   */
  
  --alt-color: #6bd;

  --low-contrast-color: #f4f4f4;

  --neutral-color: #888;
  --neutral-color-hover: #aaa;
  
  
  --highlight-color: #bd2;
  --highlight-color-hover: #cf4;
}

[data-tooltip]{
 --hover-time: 1s; 
 position: relative;
}

[data-tooltip]::after{
  white-space: pre-wrap;
  display: block;
  position: absolute;
  visibility: hidden;
  background-color: #ccce;

  border-radius: 0.5em;

  top:max(100%, 2.5em);
  color: #444;
  padding: 2em;
  line-height: 1.75em;
  content: attr(data-tooltip);    

  max-width: 300px;
  width: max-content;
  
  font-size: 8px;
  
  pointer-events: none;

  transition: all 0s;  

  z-index: 10000;
}

[data-tooltip]:hover::after{
  visibility: visible;  
  transition: all 0s var(--hover-time);
  box-shadow: 0 8px 8px -5px #8888;
}

.bezier-tooltip{
  width: fit-content;
  height: fit-content;
}
.bezier-tooltip[data-tooltip]::after{
  top: 0;
  left: 100%;
}

body{
  background-color: var(--background-color);    
  color: var(--body-color); 
}

/* CLEAN THIS UP! */
body, body *{
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'press_start_2p', 'Courier New', Courier, monospace;
  /* font-size: 8px !important; */
  /* font-size: 16px !important; */
}


body.dark{
  --background-color: #222;  
  --body-color:#ddd;
  --primary-color: #fd6;  
  --primary-color: #2ca;

  --primary-color: #acd;

  --low-contrast-color: #444;
  --highlight-color: #fa7;
  --highlight-color-hover: #fc9;
}

body.toast{
  background: linear-gradient(
    180deg,
    #dc9 50%,
    #278 50%,
    #278 80%,   
    #fa9 80%
  );

  background-attachment: fixed;
  --background-color: transparent;  
  --body-color:#ddd;

  --primary-color: #fbb;

  --low-contrast-color: #444;
  --highlight-color: #fa7;
  --highlight-color-hover: #fc9;

  color: #888;
}


.dark .App .bezier-input, .toast .App .bezier-input{

  --bezier-curve-stroke: #fff;
  
  --bezier-control-hover-fill: #f77;
  
  
  
  --bezier-track-stroke: #aaa;    
  --bezier-background-fill: #888;
  
  --bezier-label-color: #ddd;

  
  --bezier-control-fill: #9aa;
  
}

.dark .App .group-name{
  --group-header-color: #555;
}

.App .slider{
  --slider-progress-color: var(--primary-color);
}
.dark .App .slider{
  --slider-track-color: #888;
  --slider-track-color-hover: #777;

  
  /* --slider-progress-color: #c9c; */
  /* --slider-progress-color: #4aa; */
  --slider-progress-color-hover: #f88;
}

body .App .bezier-input{
  --bezier-curve-fill: var(--primary-color);
  --bezier-control-fill: #a9a;
  --bezier-control-hover-fill: #6bd;
  --bezier-label-font-size: 8px;

  --bezier-background-color: var(--low-contrast-color);
  --bezier-control-handle-stroke: var(--low-contrast-color);
  --bezier-canvas-border: var(--low-contrast-color);
  --bezier-control-stroke: var(--low-contrast-color);

}


#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {  
  margin: 50px;
  display: grid;
  grid-template-columns: var(--col-side) var(--col-gap) auto var(--col-gap) var(--col-side);
  font-size: 14px;

  font-size: 12px;
  user-select: none;
  max-width: 1400px;

  --col-side: 300px;
  --col-gap: 50px;

  font-size: 8px;

  font-smooth: never;
  -webkit-font-smoothing : none;
  -moz-osx-font-smoothing: grayscale;
}


.App *{
  font-size: 8px;
}

.App-header {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  font-size: 32px ;
  /* font-size: 48px ; */
  color: var(--primary-color);
  /* font-weight: bold; */
  margin-bottom:1em;

  /* font-size: 16px !important; */
  font-weight: normal;
}

.p5-container{
  position: relative;
  display: flex;

  margin-bottom: auto;
  grid-column: 3;  
}

/* .p5-container canvas{
  box-shadow: 0 0 0 8px #444, 0 0 0 16px #888;
  border-radius: 10%;
} */


#canvas-display-area{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: #0004;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#particle-count-display{
  min-width: 12em;
}

[class|=controls]{
  display: flex;
  flex-direction: column;
}

:is(.controls-right, .controls-left) > :nth-child(n+2):not(.radio+.radio-item){
  margin-top: 2em;
}

/* same as above, but for older browsers */
:matches(.controls-right, .controls-left) > :nth-child(n+2):not(.radio+.radio-item){
  margin-top: 2em;
}

.controls-left{
  grid-column: 1;  
  grid-row: span 2;
}


.controls-right{
  grid-column: 5;
  grid-row: span 2;
}

.controls-center{
  grid-column: 3;
}

.controls-center > .color-inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labeled-slider{
  display: grid;
  grid-template-columns: 75px auto 75px;
  align-items: center;
}

.labeled-slider .slider-value{
  margin-left: 1em;
}

input[type=range], input[type=color]{
  max-width: 100px;
}

.slider-input{
  margin: 0 auto;
  max-width: 150px;
}

.radio, .checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rgba-picker{
  display: flex;
  flex-direction: column;
  line-height: 2em;


  border: 1px solid #8888;
  margin-top: 2em;
  border-radius: 0.5em;
  padding: 5px;
  background-color: var(--low-contrast-color);
}

.rgba-picker > *{
  margin-top: 1em;
}
.rgba-label{
  margin-bottom: 1em;
}

.rgba-picker > label{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.rgb-input, .apha-input{
  flex-grow: 1;  
  margin: 0 0 0 auto;  
}

.group-name{
  display: flex;
  align-items: center;  
  justify-content: center;
  font-size: 16px;
  
  --group-header-color: #aaa;

  color: var(--primary-color);

  background-color: var(--group-header-color);
  border: 1em outset var(--group-header-color);
  border-radius: 2px;
}

.App [class*="controls"] > .group-name:not(:first-child){
  margin-top: calc(2em + 50px);
}


.file-input{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.file-input input[type="file"]{
  display: none;
}

.file-input button{
  appearance: none; -webkit-appearance: none;  
  --file-button-color: var(--primary-color);
  background-color: var(--file-button-color);
  background-image: url(../public/images/file-open-white.png);
  background-size: contain;
  padding: 16px;
  border: 1em solid var(--file-button-color);
  image-rendering: pixelated;
  box-shadow: 0 0 0 4px #aaa;
  margin: 4px;
}

.dark .file-input button{
  background-image: url(../public/images/file-open-black.png);
}

.file-input-label::before {  content: ' '; }
.file-input button:hover{
  --file-button-color: var(--highlight-color-hover);
  cursor: pointer;
}


input[type="checkbox"], input[type="radio"]{
  --checkbox-color: var(--neutral-color);  
  --checkbox-color-hover: var(--neutral-color-hover);
  --checkbox-color-checked: var(--highlight-color);
  --checkbox-color-checked-hover: var(--highlight-color-hover);

  appearance: none; -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--checkbox-color);  
  border: 4px outset var(--checkbox-color);
  box-shadow: 0 0 0 2px #aaa;  
}

input[type="checkbox"]:checked, input[type="radio"]:checked{
  --checkbox-color: var(--checkbox-color-checked);
  --checkbox-color-hover: var(--checkbox-color-checked-hover);

  border-style: inset;
}

input[type="checkbox"]:hover, input[type="radio"]:hover{
  --checkbox-color: var(--checkbox-color-hover);
  cursor: pointer;  
}


.radio-label::before, .checkbox-label::before {  content: ' - '; }

.radio-item+.radio-item input[type="radio"]{
  margin-top: 0;
}

.radio-header{
  border-bottom: 1px solid #8888;
  margin-bottom: 1em;
}


