.slider{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    
    --slider-progress-percent: 50%;
  
    --slider-track-height: 12px;    

    --slider-thumb-width: 16px;
    --slider-thumb-height: var(--slider-thumb-width);
    --slider-progress-color: #f44;
    --slider-progress-color-hover:#f66;
  
    --slider-track-color: #aaa;
    --slider-track-color-hover: #bbb;
  
    --slider-thumb-color: var(--slider-progress-color);
    --slider-thumb-color-hover: var(--slider-progress-color-hover);
  
    border-radius: calc(var(--slider-track-height)/2);
  }
  
  .slider::-webkit-slider-runnable-track{
    background: var(--slider-track-color);
    height: var(--slider-track-height);
    border-radius: calc(var(--slider-track-height) / 2);

    background-image: linear-gradient(
        90deg,
        var(--slider-progress-color) var(--slider-progress-percent),
        var(--slider-track-color) var(--slider-progress-percent)
    );

  }

  .slider:hover::-webkit-slider-runnable-track{
    background-image: linear-gradient(
        90deg,
        var(--slider-progress-color-hover) var(--slider-progress-percent),
        var(--slider-track-color-hover) var(--slider-progress-percent)
    );
  }

  .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: var(--slider-thumb-height);
    width: var(--slider-thumb-width);
    border-radius: calc(var(--slider-thumb-height)/2);
    background-color: var(--slider-thumb-color);
    margin-top: calc(var(--slider-track-height)/2 - var(--slider-thumb-height)/2);  
  }
  
  .slider:hover::-webkit-slider-thumb{
      background-color: var(--slider-thumb-color-hover);
  }




/* MOZ */






  .slider::-moz-range-track{
    /* background: var(--slider-track-color); */
    height: var(--slider-track-height);
    border-radius: calc(var(--slider-track-height) / 2);
  
    background-image: linear-gradient(
        90deg,
        var(--slider-progress-color) var(--slider-progress-percent),
        var(--slider-track-color) var(--slider-progress-percent)
    );
  }
  
  .slider:hover::-moz-range-track{
    background-image: linear-gradient(
        90deg,
        var(--slider-progress-color-hover) var(--slider-progress-percent),
        var(--slider-track-color-hover) var(--slider-progress-percent)
    );
  }
  
  
  
  .slider::-moz-range-thumb{
    /* -webkit-appearance: none; */
    margin-top: calc(var(--slider-track-height/2) - var(--slider-thumb-height)/2);
    height: var(--slider-thumb-height);
    width: var(--slider-thumb-width);
    border-radius: calc(var(--slider-thumb-height)/2);
    background-color: var(--slider-thumb-color);
    border: none;  
  }

  .slider:hover::-moz-range-thumb{
      background-color: var(--slider-thumb-color-hover);
  }
  