.slider{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100px;
    
    --slider-progress-percent: 50%;
  
    --track-height: 12px;    

    --thumb-width: 16px;
    --thumb-height: var(--thumb-width);
    --progress-color: #f44;
    --progress-color-hover:#f66;
  
    --track-color: #aaa;
    --track-color-hover: #bbb;
  
    --thumb-color: var(--progress-color);
    --thumb-color-hover: var(--progress-color-hover);
  
    border-radius: calc(var(--track-height)/2);
  }
  
  .slider::-webkit-slider-runnable-track{
    background: var(--track-color);
    height: var(--track-height);
    border-radius: calc(var(--track-height) / 2);

    background-image: linear-gradient(
        90deg,
        var(--progress-color) var(--slider-progress-percent),
        var(--track-color) var(--slider-progress-percent)
    );

  }

  .slider:hover::-webkit-slider-runnable-track{
    background-image: linear-gradient(
        90deg,
        var(--progress-color-hover) var(--slider-progress-percent),
        var(--track-color-hover) var(--slider-progress-percent)
    );
  }

  .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    border-radius: calc(var(--thumb-height)/2);
    background-color: var(--thumb-color);
    margin-top: calc(var(--track-height)/2 - var(--thumb-height)/2);  
  }
  
  .slider:hover::-webkit-slider-thumb{
      background-color: var(--thumb-color-hover);
  }




/* MOZ */






  .slider::-moz-range-track{
    /* background: var(--track-color); */
    height: var(--track-height);
    border-radius: calc(var(--track-height) / 2);
  
    background-image: linear-gradient(
        90deg,
        var(--progress-color) var(--slider-progress-percent),
        var(--track-color) var(--slider-progress-percent)
    );
  }
  
  .slider:hover::-moz-range-track{
    background-image: linear-gradient(
        90deg,
        var(--progress-color-hover) var(--slider-progress-percent),
        var(--track-color-hover) var(--slider-progress-percent)
    );
  }
  
  
  
  .slider::-moz-range-thumb{
    /* -webkit-appearance: none; */
    margin-top: calc(var(--track-height/2) - var(--thumb-height)/2);
    height: var(--thumb-height);
    width: var(--thumb-width);
    border-radius: calc(var(--thumb-height)/2);
    background-color: var(--thumb-color);
    border: none;  
  }

  .slider:hover::-moz-range-thumb{
      background-color: var(--thumb-color-hover);
  }
  