input[type="range"]{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100px;
    overflow: hidden;
  
    
    --val: 0;
  
    --track-height: 12px;
    --thumb-height: var(--track-height);
  
  
    --progress-color: #f44;
    --progress-color-hover:#f66;
  
    --track-color: #aaa;
    --track-color-hover: #bbb;
  
    --thumb-color: #eee;
  
    border-radius: calc(var(--track-height)/2);
  }
  
  input[type="range"]::-webkit-slider-runnable-track{
    background: var(--track-color);
    height: var(--track-height);
    border-radius: calc(var(--track-height) / 2);
    overflow: hidden;
  }
  
  input[type="range"]:hover::-webkit-slider-runnable-track{
    background-color: var(--track-color-hover);
  }
  
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-height);
    border-radius: calc(var(--thumb-height)/2);
    background-color: var(--thumb-color);
    margin-top: calc(var(--track-height)/2 - var(--thumb-height)/2);  
  
    box-shadow: -100px 0 0 calc(100px - var(--thumb-height)/2) var(--progress-color), inset 0 0 0 1px var(--track-color);
  }
  
  input[type="range"]:hover::-webkit-slider-thumb{
    background-color: #fff;
    box-shadow: -100px 0 0 calc(100px - 5px) var(--progress-color-hover), inset 0 0 0 1px var(--track-color-hover);
  }
  
  input[type="range"]::-moz-range-track{
    background: var(--track-color);
    height: var(--track-height);
    border-radius: calc(var(--track-height) / 2);
  
    
  }
  
  input[type="range"]:hover::-moz-range-track{
    background-color: var(--track-color-hover);
  }
  
  input[type="range"]::-moz-range-progress{
    /* background-color: var(--progress-color); */
    height: var(--track-height);
    border-radius: calc(var(--track-height)/2);
  }
  
  input[type="range"]:hover::-moz-range-progress{
    /* background-color: var(--progress-color-hover); */
  
    /* border-radius: calc(var(--thumb-height)/2) 0 0 calc(var(--thumb-height)/2); */
  }
  
  input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    --thumb-height: 10px;
    margin-top: calc(var(--track-height/2) - var(--thumb-height)/2);
    height: var(--thumb-height);
    width: var(--thumb-height);
    border-radius: calc(var(--thumb-height)/2);
    background-color: var(--thumb-color);  
    border: none;
    /* border: 1px solid var(--track-color); */
    /* box-shadow: inset 0 0 0 1px var(--track-color); */
  
    box-shadow: -100px 0 0 calc(100px - var(--thumb-height)/2) var(--progress-color), inset 0 0 0 1px var(--track-color);
  }
  
  input[type="range"]:hover::-moz-range-thumb{
    border: none;
    box-shadow: -100px 0 0 calc(100px - 5px) var(--progress-color-hover), inset 0 0 0 1px var(--track-color-hover);
  }